body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.gifer.com/origin/37/376a66dacbd417010b5eda0d46ada276.gif');
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
    color: red;
    text-decoration: underline;
  }
  
  .calculadora {
    width: 314px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity:0.5;
  }
  
  #pantalla {
    width: 90%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: right;
    background-color: black;
    color: white;
  }
  
  input[type="button"] {
    width: 70px;
    height: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="button"]:hover {
    background-color: #f16060;
  }
  
  input[type="button"]:last-child {
    margin-right: 0;
  }
  